.form-container{
    border-radius: 5px;
}

.toast{
    margin-left: 10px;
}
.alert ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.form-error ul{
    padding: 0.5rem;
    padding-left: 1rem;
    border: 1px #f5c2c7 solid;
    border-radius: .25rem;
}