{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
    {% include 'menu.html.twig' %}
    {% if app.user %}
        <div class="container-fluid d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-6 col-lg-6">
                <div class="card text-white bg-success mb-3 mt-5 w-100">
                    <div class="card-header">Success</div>
                    <div class="card-body">
                        <h5 class="card-title">You are login in</h5>
                        <p class="card-text">You have access to edit, create, and view articles.</p>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container-fluid d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-6 col-lg-6">
                <div class="card text-white bg-danger mb-3 mt-5 w-100">
                    <div class="card-header">Error</div>
                    <div class="card-body">
                        <h5 class="card-title">You should to login</h5>
                        <p class="card-text">To access, edit, and view articles, you must create and log in to your account.</p>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
{% endblock %}
